:root {
    --color-light-gray: #eaeaea;
    --color-gray: #ccc;
    --color-red: #d9392a;
    --color-primary: hsl(171, 100%, 41%);
}

#saveWhiteListBtn:hover {
    background: var(--color-primary);
}

#resetWhiteListBtn:hover {
    background: var(--color-light-gray);
}