<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

</head>
<body>
<div class="popup-title">
    <h2>Image Block &#9940</h2>
</div>
<div class="content">
    <span class="option-title">Disable Images</span>
<!--    <i class="far fa-question-circle tooltip"><span class="tooltip-text">test1</span></i>-->
    <label class="switch">
        <input type="checkbox" id="imageBlockBtn">
        <span class="slider round"></span>
    </label>
</div>

<div class="content">
    <span class="option-title">Auto Refresh</span>
<!--    <i class="far fa-question-circle tooltip"><span class="tooltip-text">test2</span></i>-->
    <label class="switch">
        <input type="checkbox" id="refreshBtn">
        <span class="slider round"></span>
    </label>
</div>

<script src="/js/popup.js"></script>
</body>
</html>

